.pie {
  padding-right: 0;
  padding-left: 0;
  height: 120px;
  border-radius: 0;
}

.cake {
  height: 70%;
  margin: 0;
  padding-bottom: 0; 
  /* Add padding on top to second column */
}

.nothing {
  padding-top: 0;
  padding-bottom: 0;
  margin: none;
}

.col-sm-3 {
  padding-right: 0;
  padding-left: 0;
  height: 120px;
}

.leftpad {
  padding-left: 20px;
}

.rightpad {
  padding-right: 20px;
}

.row {
  padding-left: 20px;
}

div.well p {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0;

}

img {
  padding: 10px;

}