/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Find/place useful template information here:
   colors:  #D4371D-red, #594E47-brown, #037370-seaGreen, #0FA59E-teal, 
            #D1C8B0-tan, #FIF4F6-lightGrey;
   ========================================================================== */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/* ==========================================================================
   index.html styles: below is the styling section for the index page. please 
   keep it seperate from other page stylings.;
   ========================================================================== */
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
header{
  margin: 0px;
}


body {
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-decoration: none;

}
nav.navbar {
  background-color: #0FA59E;
  font-family: 'Noto Sans', sans-serif;
  border-radius: 0px;
}
.nav.navbar-nav {
  margin-left: 10px;
  padding-bottom: 4px;
  border-width: 3px;
  border-color: black; 
}
li a {
  color: white;
  font-size:  20px;
}
a.navbar-brandnew{
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px  #037370;
  color: white;

}

span.btn.btn-default {
  color: white;
  background-color: purple;
}

.foorter{
  background-color: #037370;
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   }



/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 * not sure what this part does.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 100px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: none;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        margin: 0;
        orphans: 3;
        widows: 3;s
    }

    h2,
    h3 {
        page-break-after: avoid;
    }


/* ==========================================================================
  loginPage.html:
    add loginpage.html below this comment
  ========================================================================== */
}
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {
  margin:0;
  padding:0;
  border:0 none;
  position: relative;
  outline: none;
}
body, html{
  height: 100%;
  text-align: center;
}
.page{
  background-color: #037370;
}
.container{
  width: 600px;
  height: 800px;
  margin: 8% auto 10px auto;
}
.login-form {
  background-color: #D1C8B0; 
  width: 500px;
  height: 600px;
  margin: 10px auto;
  -webkit-box-shadow: 10px 10px 10px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 10px 4px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 10px 4px rgba(0,0,0,0.2);
}
.logo-form-container {
  width: 500px;
  height: 600px;

}
.logo-container{
  margin: 0 auto;
  width: 50%;
  height: 15%;
}
a.logo {
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  color: #0FA59E;
  text-shadow: .5px 1px 1px #000;  
  font-weight: normal;
  font-size: 70px;
  text-align: center;

}
/*set location of box outline animation*/
a.logo:after,
a.logo:before {
  content: '';
  color: white;
  position: absolute;
  margin-left: -10%;
  margin-top: 10%;
  width: 220px;
  left: 0;
  display: inline-block;
  height: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}
/*
a.logo:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
}*/

a.logo:after {
  border-bottom: 5px solid;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

a.logo:hover:after,
a.logo:hover:before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.form-group{
  background-color: none;
  width: 100%;
  height: 85%;
}
.login-tab{
  float: left;
  width: 50%;
}
.register-tab{
  float: right;
  width: 50%;
  margin-bottom: 2%;
}
a.tabber{
  text-decoration: none;
  font-size: 30px;
  color: white;
  text-shadow: 1px 1px 1px #594E47;
}
.username-password-group {
  margin-top: 3%;
}
/*input[type="text"] { 
  font-size: 20px;
  height: 30px;
  margin-top: 2%;
}*/
.form-container-login input[type="text"],.form-container-login input[type="password"] {
  height: 55px;
  width: 70%;
  border: 1px solid #ddd;
  font-size: 24px;
  box-shadow: none;
  border-radius: 4px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
input[type="checkbox"]{
  margin-left: -45%;
}

.checkbox-containter {
}
.form-container-login input:hover,
.form-container-login input:active,
.form-container-login input:focus {
  outline:none;
  box-shadow: 1px 1px 5px 1px #594E47;
}

input[type="submit"]{
  background-color: #0FA59E;
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-shadow: .5px .5px black;
  width: 70%;
  height: 36px;
  border-radius: 3px;
  border: none;
}

a.forgot-password {
  margin-left: -45%;
  color: white;
  text-shadow: .5px .5px 10px #594E47;
}





.login-credentials{
  background-color: black;
}



div.text-center {
  margin-left: 20%;
}
.login-body {
  padding: 90px;
}
/*
input[type=password],[type=text] {
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  box-shadow:inset 1px 1px 1px #555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
input[type=checkbox] {
  margin-left: 20%;
}
label[for=remember]{
  padding: none;
  margin: none;
}

input[type=submit] {
  margin-left: 35%;
  margin-right: 35%;
  width: 30%;
  box-shadow:inset 1px 1px 1px #555;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
*/
a.active{
  text-decoration: underline;
  text-decoration-color: #0FA59E; 
}

